@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;600;900&family=Righteous&display=swap");
/*Aplicando @extend al logo de pagina secundaria*/
.logo {
  width: 80px;
  margin: 10px;
  border-radius: 35%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}

/* creando grid menu inicio */
.Menu_Inicio {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "logo_inicio    logo_inicio    ingreso_inicio       registro_inicio" "juegos_inicio  juegos_inicio  plataformas_inicio   plataformas_inicio" "juegos_inicio  juegos_inicio  plataformas_inicio   plataformas_inicio" "juegos_inicio  juegos_inicio  proximos_inicio      contacto_inicio" "juegos_inicio  juegos_inicio  proximos_inicio      contacto_inicio";
  /*Animaciones */
}
.Menu_Inicio .logo_inicio {
  grid-area: logo_inicio;
  background-image: url(../Multimedia/Fondos/fondo\ 6.png);
  background-size: contain;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.Menu_Inicio .juegos_inicio {
  grid-area: juegos_inicio;
  background-image: url(../Multimedia/Fondos/kamil-s-xny2e95bvgA-unsplash.jpg);
  background-size: cover;
  border: black solid 2px;
}
.Menu_Inicio .plataformas_inicio {
  grid-area: plataformas_inicio;
  background-image: url(../Multimedia/Fondos/fondo3.jpg);
  background-size: cover;
  border: black solid 2px;
}
.Menu_Inicio .proximos_inicio {
  grid-area: proximos_inicio;
  background-image: url(../Multimedia/Fondos/fondo5.jpg);
  background-size: cover;
  border: black solid 2px;
}
.Menu_Inicio .contacto_inicio {
  grid-area: contacto_inicio;
  background-image: url(../Multimedia/Fondos/fondo.jpg);
  background-size: cover;
  border: black solid 2px;
}
.Menu_Inicio .ingreso_inicio {
  grid-area: ingreso_inicio;
  background-image: url(../Multimedia/Fondos/fondo2.jpg);
  background-size: cover;
  border: black solid 2px;
}
.Menu_Inicio .registro_inicio {
  grid-area: registro_inicio;
  background-image: url(../Multimedia/Fondos/fondo4.jpg);
  background-size: cover;
  border: black solid 2px;
}
.Menu_Inicio a {
  transition: all 0.5s;
}
.Menu_Inicio a:hover {
  font-size: 50px;
  color: red;
}

.Menu_Inicio > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingreso_inicio a,
.registro_inicio a,
.juegos_inicio a,
.plataformas_inicio a,
.proximos_inicio a,
.contacto_inicio a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 40px;
  padding: 8px;
  font-size: 30px;
  font-weight: bold;
}

/*Aplicando Maps*/
.Fondo-inicio {
  background-color: darkslategray;
}

.Fondo-Acordion {
  background-color: grey;
}

.TextoAcordion {
  font-size: 25px;
  text-align: center;
  color: black;
}

.Mapa-Acordion {
  display: flex;
  justify-content: center;
}

.Mapa-tamaño {
  width: 700px;
  height: 600px;
}

.Negocio-Acordion {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.Imagen-Acordion {
  height: 550px;
  width: 550px;
}

/*Animacion del logo */
.Text {
  animation: Text;
  animation-duration: 10s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 45px;
  font-weight: bold;
  color: white;
}

@keyframes Text {
  20% {
    color: yellow;
    font-size: 40px;
  }
  40% {
    color: lime;
    font-size: 35px;
  }
  50% {
    color: blue;
    font-size: 32px;
  }
  60% {
    color: blueviolet;
    font-size: 35px;
  }
  80% {
    color: red;
    font-size: 40px;
  }
}
/* Animacion entrada Menu inicio */
.menu-item {
  animation: roll-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes roll-in-blurred-top {
  0% {
    transform: translateY(-800px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
/* Aplicando @For */
.menu_item1 {
  animation-delay: 0.4s;
}

.menu_item2 {
  animation-delay: 0.8s;
}

.menu_item3 {
  animation-delay: 1.2s;
}

.menu_item4 {
  animation-delay: 1.6s;
}

.menu_item5 {
  animation-delay: 2s;
}

.menu_item6 {
  animation-delay: 2.4s;
}

/* Aplicando Fondo a las paginas secundarias */
.Fondo {
  background-image: url(../Multimedia/Fondos/rick-rothenberg-LlAI-kQJs64-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* trabajando sobre el menu de las paginas secundarias */
.menu li {
  font-size: 20px;
  font-weight: bold;
  background-color: gray;
  border-radius: 50%;
  margin-inline: 5px;
}
.menu li a {
  color: black;
}
.menu li a:hover {
  font-size: 25px;
  color: blue;
}

.active {
  -webkit-text-decoration: underline double black;
          text-decoration: underline double black;
  font-size: 25px;
}
.active a {
  -webkit-text-decoration: underline double black;
          text-decoration: underline double black;
  font-size: 25px;
}

/*Html Consolas*/
/* Aplicando flex */
.plataform {
  margin-top: 60px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Aplicando box-Model */
.plataforma {
  width: 300PX;
  height: 350px;
  background-color: dimgray;
  border-radius: 20px;
  margin-bottom: 40px;
  text-align: center;
  margin-inline: 20px;
  /* Aplicando animaciones en el HTML consolas */
}
.plataforma:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 310px;
  height: 360px;
  transform: translateY(-20px);
}

.plataforma_img {
  width: 100%;
  margin-bottom: 10px;
}

.plataforma_titulo {
  font-size: 20px;
  margin-bottom: 10px;
}

.plataforma_precio {
  font-size: 18px;
  margin-bottom: 10px;
}

.plataforma_comprar {
  margin-bottom: 10px;
}
.plataforma_comprar a {
  background-color: green;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  /* Aplicando animaciones en el HTML consolas */
}
.plataforma_comprar a:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-size: 22px;
}

.plataforma_boton {
  margin-bottom: 10px;
}

/* Trabajando en el HTML de Juegos */
/* Aplicando flex */
.game {
  padding: 40px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Aplicando box-Model */
.juegos {
  width: 310PX;
  height: 460px;
  background-color: dimgray;
  border-radius: 20px;
  margin-bottom: 60px;
  text-align: center;
  margin-inline: 20px;
  overflow: hidden;
  /* Aplicando animaciones en el HTML Juegos */
}
.juegos:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 320px;
  height: 470px;
  transform: translateY(-30px);
}

.juegos_img {
  width: 100%;
  margin-bottom: 10px;
}

.juegos_titulo {
  font-size: 20px;
  margin-bottom: 10px;
}

.juegos_consolas {
  font-size: 16px;
}

.juegos_precio {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.juegos_trailers {
  margin-bottom: 10px;
}
.juegos_trailers a {
  text-decoration: none;
  font-size: 18px;
  color: darkblue;
  /* Aplicando animaciones en el HTML Juegos */
}
.juegos_trailers a:hover {
  color: rgb(205, 12, 12);
  font-size: 22px;
}

.juegos_comprar {
  margin-bottom: 10px;
}
.juegos_comprar a {
  background-color: green;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.juegos_comprar a:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-size: 22px;
}

/* Trabajando sobre el HTML Proximos Lanzamientos */
.proximos_lanzamientos {
  padding: 40px;
}

.proximos_lanzamientos_titulo {
  margin-top: 60px;
  text-align: center;
  font-size: 65px;
  color: white;
  font-weight: bold;
  margin-bottom: 80px;
}

/* Aplicando flex */
.new {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Aplicando box-Model */
.lanzamientos {
  width: 280PX;
  height: 480px;
  background-color: dimgray;
  border-radius: 20px;
  margin-bottom: 60px;
  display: inline-block;
  text-align: center;
  margin-inline: 20px;
  overflow: hidden;
  /* Aplicando animaciones en el HTML Proximos Lanzamientos */
}
.lanzamientos:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 290px;
  height: 490px;
  transform: translateY(-40px);
}

.lanzamientos_img {
  width: 100%;
  margin-bottom: 15px;
}

.lanzamientos_consolas {
  font-size: 14px;
  margin-bottom: 15px;
}

.lanzamientos_titulo {
  font-size: 20px;
  margin-bottom: 15px;
}

.lanzamientos_fecha {
  font-size: 16px;
  margin-bottom: 15px;
}

.lanzamientos_trailers {
  margin-bottom: 15px;
}
.lanzamientos_trailers a {
  text-decoration: none;
  font-size: 18px;
  color: darkblue;
  /* Aplicando animaciones en el HTML Proximos Lanzamientos */
}
.lanzamientos_trailers a:hover {
  color: rgb(205, 12, 12);
  font-size: 22px;
}

.lanzamientos_contactar {
  margin-bottom: 15px;
}
.lanzamientos_contactar a {
  background-color: green;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  /* Aplicando animaciones en el HTML Proximos Lanzamientos */
}
.lanzamientos_contactar a:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-size: 22px;
}

/* Aplicando animaciones en el HTML Proximos Lanzamientos */
.proximos_lanzamientos_titulo {
  animation: contactenos_prox;
  animation-duration: 6s;
  animation-delay: 0, 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes contactenos_prox {
  25% {
    color: mediumblue;
    font-size: 68px;
  }
  50% {
    color: red;
    font-size: 65px;
  }
  75% {
    color: yellow;
    font-size: 62px;
  }
}
/* Trabajando sobre HTML Ingresar */
.Ingreso {
  padding: 40px;
}

/* Aplicando Flex al formulario */
.ingreso-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.ingresar_titulo {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
  margin-top: 60px;
  margin-bottom: 50px;
}

.ingresar_formulario {
  width: 480px;
  height: 350px;
  background-color: mediumslateblue;
  padding: 20px;
  border-radius: 50px;
  font-size: 25px;
  text-align: center;
}

.ingresar_boton {
  background-color: deepskyblue;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}
.ingresar_boton:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-size: 22px;
}

.ingresar_olvidaste {
  font-size: 14px;
  font-weight: bold;
}
.ingresar_olvidaste a {
  color: blue;
}
.ingresar_olvidaste a:hover {
  color: red;
  font-size: 18px;
}

.ingresar_usuario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.ingresar_pass {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

/* Aplicando animaciones en el HTML Ingresar */
.ingresar_titulo {
  animation: ingresar_tit;
  animation-duration: 8s;
  animation-delay: 0, 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes ingresar_tit {
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: red;
  }
}
.ingresar_formulario {
  animation: tilt-in-fwd-tr 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.4s;
}
@keyframes tilt-in-fwd-tr {
  0% {
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
/* Trabajando sobre HTML Registrarse */
.registrarse {
  padding: 40px;
}

/* Aplicando Flex al formulario */
.Registro-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.registrarse_titulo {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.registrarse_formulario {
  width: 480px;
  height: 450px;
  background-color: mediumslateblue;
  padding: 20px;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
}

.registrar_boton {
  background-color: deepskyblue;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}
.registrar_boton:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-size: 22px;
}

.registrar_texto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.registrar_mail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.registrar_pass1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.registrar_pass2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.registrarse_select {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.registrarse_select select {
  font-size: 18px;
}
.registrarse_select select:hover {
  font-size: 22px;
}

.registrar_olvidaste {
  font-size: 14px;
  font-weight: bold;
}
.registrar_olvidaste a {
  color: blue;
}
.registrar_olvidaste a:hover {
  color: red;
  font-size: 18px;
}

/* Aplicando animaciones en el HTML Registrarse */
.registrarse_titulo {
  animation: registrarse_tit;
  animation-duration: 8s;
  animation-delay: 0, 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes registrarse_tit {
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: red;
  }
}
.registrarse_formulario {
  animation: flip-in-hor-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
/* Trabajando sobre HTML Contacto */
.contacto {
  padding: 40px;
}

/* Aplicando Flex al formulario */
.Contacto-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}

.contacto_titulo {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contacto_formulario {
  width: 480px;
  height: 600px;
  background-color: mediumslateblue;
  padding: 20px;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
}

.contacto_text {
  margin-top: 20px;
  margin-bottom: 10px;
}

.contacto_boton {
  background-color: deepskyblue;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.contacto_boton:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  font-size: 22px;
}

.contacto_nombre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.contacto_apellido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.contacto_mail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.contacto_asunto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

/* Aplicando animaciones en el HTML Contacto */
.contacto_titulo {
  animation: contacto_tit;
  animation-duration: 8s;
  animation-delay: 0, 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes contacto_tit {
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: red;
  }
}
.contacto_formulario {
  animation: swing-in-top-fwd 1.5s ease-out both;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
/* Trabajando sobre el Footer */
/* Alicando Flex en el Footer */
Footer {
  display: flex;
  justify-content: space-around;
}

.footer {
  margin-block: 40px;
}
.footer a img {
  /*Aplicando Map-get*/
  height: 80px;
  margin-inline: 20px;
  border-radius: 50%;
}
.footer a img:hover {
  height: 95px;
  transition-delay: 0.1s;
  transform: translateY(-20px);
}

/* Aplicando Media Quaris para el Menu Hamburguesa */
@media screen and (max-width: 1199.5px) {
  .navbar-expand-xl {
    background-color: gray;
  }
  .menu li {
    font-weight: bold;
    background-color: gray;
    margin-inline: 5px;
  }
  .menu li a {
    color: black;
  }
  .menu li a:hover {
    color: blue;
    transform: translateX(5px);
  }
  .logo:hover {
    width: 85px;
    transition-delay: 0.1s;
  }
  .active {
    -webkit-text-decoration: underline double black;
            text-decoration: underline double black;
    font-size: 24px;
    transform: translateX(10px);
  }
  .active a {
    -webkit-text-decoration: underline double black;
            text-decoration: underline double black;
    font-size: 24px;
    transform: translateX(10px);
  }
  .Imagen-Acordion {
    height: 450px;
    width: 450px;
  }
  /* HTML PROXIMOS LANZAMIENTOS */
  .proximos_lanzamientos_titulo {
    font-size: 62px;
  }
  @keyframes contactenos_prox {
    25% {
      color: mediumblue;
      font-size: 62px;
    }
    50% {
      color: red;
      font-size: 62px;
    }
    75% {
      color: yellow;
      font-size: 62px;
    }
  }
}
/* Aplicando Media Quaris para tablets */
@media screen and (min-width: 599px) and (max-width: 1024px) {
  /* HTML INDEX */
  .Menu_Inicio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "logo_inicio            logo_inicio         ingreso_inicio" "logo_inicio            logo_inicio         registro_inicio" "juegos_inicio          juegos_inicio       proximos_inicio" "plataformas_inicio     plataformas_inicio  contacto_inicio";
  }
  .Text {
    font-size: 35px;
  }
  .ingreso_inicio a {
    font-size: 15px;
  }
  .ingreso_inicio a:hover {
    font-size: 20px;
  }
  .registro_inicio a {
    font-size: 15px;
  }
  .registro_inicio a:hover {
    font-size: 20px;
  }
  .juegos_inicio a {
    font-size: 24px;
  }
  .juegos_inicio a:hover {
    font-size: 29px;
  }
  .plataformas_inicio a {
    font-size: 24px;
  }
  .plataformas_inicio a:hover {
    font-size: 29px;
  }
  .proximos_inicio a {
    font-size: 24px;
  }
  .proximos_inicio a:hover {
    font-size: 29px;
  }
  .contacto_inicio a {
    font-size: 24px;
  }
  .contacto_inicio a:hover {
    font-size: 29px;
  }
  @keyframes Text {
    20% {
      color: yellow;
      font-size: 30px;
    }
    40% {
      color: lime;
      font-size: 25px;
    }
    50% {
      color: blue;
      font-size: 20px;
    }
    60% {
      color: blueviolet;
      font-size: 25px;
    }
    80% {
      color: red;
      font-size: 30px;
    }
  }
  .Mapa-tamaño {
    width: 500px;
    height: 400px;
  }
  .Imagen-Acordion {
    height: 400px;
    width: 400px;
  }
  .TextoAcordion {
    font-size: 22px;
  }
  /*NAVBAR*/
  .menu li {
    font-size: 18px;
  }
  /* HTML CONSOLAS */
  .plataform {
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
  }
  .plataforma {
    width: 270PX;
    height: 350px;
    margin-bottom: 30px;
    margin-inline: 10px;
  }
  .plataforma:hover {
    width: 275px;
    height: 355px;
    transform: translateY(-10px);
  }
  .plataforma_titulo {
    font-size: 18px;
  }
  .plataforma_precio {
    font-size: 15px;
  }
  .plataforma_comprar a {
    font-size: 15px;
  }
  .plataforma_comprar a:hover {
    font-size: 18px;
  }
  /* HTML CONTACTO */
  .contacto_titulo {
    font-size: 55px;
  }
  /* HTML INGRESO */
  .ingresar_titulo {
    font-size: 55px;
  }
  /* HTML JUEGOS */
  .game {
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
  }
  .juegos {
    width: 280PX;
    height: 420px;
    margin-bottom: 30px;
    margin-inline: 10px;
  }
  .juegos:hover {
    width: 290px;
    height: 430px;
    transform: translateY(-10px);
  }
  .juegos_titulo {
    font-size: 18px;
  }
  .juegos_consolas {
    font-size: 14px;
  }
  .juegos_precio {
    font-size: 16px;
  }
  .juegos_trailers a {
    font-size: 16px;
  }
  .juegos_trailers a:hover {
    font-size: 20px;
  }
  .juegos_comprar a {
    font-size: 16px;
  }
  .juegos_comprar a:hover {
    font-size: 20px;
  }
  /* HTML PROXIMOS LANZAMIENTOS */
  .proximos_lanzamientos_titulo {
    font-size: 50px;
  }
  @keyframes contactenos_prox {
    25% {
      color: mediumblue;
      font-size: 50px;
    }
    50% {
      color: red;
      font-size: 50px;
    }
    75% {
      color: yellow;
      font-size: 50px;
    }
  }
  .lanzamientos_consolas {
    font-size: 12px;
  }
  .lanzamientos_titulo {
    font-size: 18px;
  }
  .lanzamientos_fecha {
    font-size: 14px;
  }
  .lanzamientos_trailers a {
    font-size: 16px;
  }
  .lanzamientos_trailers a:hover {
    color: rgb(205, 12, 12);
    font-size: 18px;
  }
  .lanzamientos_contactar a {
    font-size: 16px;
  }
  .lanzamientos_contactar a:hover {
    font-size: 18px;
  }
  .lanzamientos:hover {
    width: 290px;
    height: 490px;
    transform: translateY(-10px);
  }
  /* HTML REGISTRO */
  .registrarse_titulo {
    font-size: 60px;
  }
  .registrarse_formulario {
    width: 480px;
    height: 400px;
    font-size: 20px;
  }
  .registrar_boton {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .registrar_boton:hover {
    font-size: 20px;
  }
  .registrarse_select {
    font-size: 18px;
  }
  .registrarse_select select {
    font-size: 18px;
  }
  .registrarse_select select:hover {
    font-size: 22px;
  }
  .registrar_olvidaste {
    font-size: 14px;
  }
  .registrar_olvidaste a:hover {
    font-size: 20px;
  }
  /* FOTEER */
  .footer a img {
    height: 60px;
    margin-inline: 10px;
    border-radius: 50%;
  }
  .footer a img:hover {
    height: 65px;
    transition-delay: 0.1s;
    transform: translateY(-10px);
  }
}
/* Aplicando Media Quaris para Celulares */
@media screen and (max-width: 599px) {
  /* HTML INDEX */
  .Menu_Inicio {
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "logo_inicio        ingreso_inicio" "logo_inicio        registro_inicio" "plataformas_inicio plataformas_inicio" "juegos_inicio      juegos_inicio" "proximos_inicio    proximos_inicio" "contacto_inicio    contacto_inicio";
  }
  .Text {
    font-size: 20px;
  }
  .ingreso_inicio a {
    font-size: 10px;
  }
  .ingreso_inicio a:hover {
    font-size: 11px;
  }
  .registro_inicio a {
    font-size: 10px;
  }
  .registro_inicio a:hover {
    font-size: 11px;
  }
  .juegos_inicio a {
    font-size: 15px;
  }
  .juegos_inicio a:hover {
    font-size: 20px;
  }
  .plataformas_inicio a {
    font-size: 15px;
  }
  .plataformas_inicio a:hover {
    font-size: 20px;
  }
  .proximos_inicio a {
    font-size: 15px;
  }
  .proximos_inicio a:hover {
    font-size: 20px;
  }
  .contacto_inicio a {
    font-size: 15px;
  }
  .contacto_inicio a:hover {
    font-size: 20px;
  }
  @keyframes Text {
    20% {
      color: yellow;
      font-size: 17px;
    }
    40% {
      color: lime;
      font-size: 14px;
    }
    50% {
      color: blue;
      font-size: 12px;
    }
    60% {
      color: blueviolet;
      font-size: 14px;
    }
    80% {
      color: red;
      font-size: 17px;
    }
  }
  .Mapa-tamaño {
    width: 300px;
    height: 300px;
  }
  .Imagen-Acordion {
    height: 300px;
    width: 300px;
  }
  .TextoAcordion {
    font-size: 18px;
  }
  /*NAVBAR*/
  .menu li {
    font-size: 14px;
  }
  .menu a:hover {
    font-size: 18px;
  }
  .active {
    font-size: 18px;
  }
  .active a {
    font-size: 18px;
  }
  /* HTML CONSOLAS */
  .plataform {
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
  }
  .plataforma {
    width: 250PX;
    height: 330px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-inline: 10px;
  }
  .plataforma:hover {
    width: 255px;
    height: 335px;
    transform: translateY(-10px);
  }
  .plataforma_img {
    width: 100%;
  }
  .plataforma_titulo {
    font-size: 15px;
  }
  .plataforma_precio {
    font-size: 12px;
  }
  .plataforma_comprar a {
    font-size: 12px;
  }
  .plataforma_comprar a:hover {
    font-size: 15px;
  }
  /* HTML CONTACTO */
  .contacto_titulo {
    font-size: 40px;
  }
  .contacto_formulario {
    width: 360px;
    height: 420px;
    font-size: 12px;
  }
  /* HTML INGRESO */
  .ingresar_titulo {
    font-size: 40px;
  }
  .ingresar_formulario {
    width: 550px;
    height: 380px;
    font-size: 20px;
  }
  /* HTML JUEGOS */
  .game {
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }
  .juegos {
    width: 280PX;
    height: 440px;
    margin-bottom: 30px;
    margin-inline: 10px;
  }
  .juegos:hover {
    width: 290px;
    height: 450px;
    transform: translateY(-10px);
  }
  .juegos_titulo {
    font-size: 15px;
  }
  .juegos_consolas {
    font-size: 12px;
  }
  .juegos_precio {
    font-size: 14px;
  }
  .juegos_trailers a {
    font-size: 12px;
  }
  .juegos_trailers a:hover {
    font-size: 16px;
  }
  .juegos_comprar a {
    font-size: 14px;
  }
  .juegos_comprar a:hover {
    font-size: 16px;
  }
  /* HTML PROXIMOS LANZAMIENTOS */
  .proximos_lanzamientos_titulo {
    font-size: 40px;
  }
  @keyframes contactenos_prox {
    25% {
      color: mediumblue;
      font-size: 40px;
    }
    50% {
      color: red;
      font-size: 40px;
    }
    75% {
      color: yellow;
      font-size: 40px;
    }
  }
  .lanzamientos_consolas {
    font-size: 10px;
  }
  .lanzamientos_titulo {
    font-size: 14px;
  }
  .lanzamientos_fecha {
    font-size: 10px;
  }
  .lanzamientos_trailers a {
    font-size: 12px;
  }
  .lanzamientos_trailers a:hover {
    color: rgb(205, 12, 12);
    font-size: 14px;
  }
  .lanzamientos_contactar a {
    font-size: 14px;
  }
  .lanzamientos_contactar a:hover {
    font-size: 16px;
  }
  .lanzamientos:hover {
    width: 290px;
    height: 490px;
    transform: translateY(-10px);
  }
  /* HTML REGISTRO */
  .registrarse_titulo {
    font-size: 50px;
  }
  .registrarse_formulario {
    width: 600px;
    height: 400px;
    font-size: 14px;
  }
  .registrar_boton {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .registrar_boton:hover {
    font-size: 14px;
  }
  .registrarse_select {
    font-size: 12px;
  }
  .registrarse_select select {
    font-size: 12px;
  }
  .registrarse_select select:hover {
    font-size: 14px;
  }
  .registrar_olvidaste {
    font-size: 10px;
  }
  .registrar_olvidaste a:hover {
    font-size: 12px;
  }
  /* FOTEER */
  .footer a img {
    height: 40px;
    margin-inline: 5px;
    border-radius: 50%;
  }
  .footer a img:hover {
    height: 50px;
    transition-delay: 0.1s;
    transform: translateY(-5px);
  }
}/*# sourceMappingURL=estilo.css.map */