                /* Trabajando sobre el Footer */

    /* Alicando Flex en el Footer */

Footer{
    display: flex;
    justify-content: space-around;
}

.footer{
    margin-block: 40px;

    a{
        img{
            /*Aplicando Map-get*/
            height: map-get($iconos,tamano);
            margin-inline: map-get($iconos,distancia);
            border-radius: 50%;

            &:hover{
                height: map-get($iconos, animacion);
                transition-delay: 0.1s;
                transform: translateY(-20px);
                }
        }
    }
}
