/* Aplicando Media Quaris para el Menu Hamburguesa */

@media screen and (max-width:1199.5px){

    .navbar-expand-xl{
        background-color: gray;
    }

    .menu{
        li{
            font-weight: bold;
            background-color: gray;
            margin-inline: 5px;
            

            & a{
                color: black;

                &:hover{
                    color: blue;
                    transform: translateX(5px); 
                    }
            }
        } 
    }

    .logo:hover{
        width: 85px;
        transition-delay: 0.1s;
    }

    .active{
        text-decoration: underline double black;
        font-size: 24px;
        transform: translateX(10px);

        & a{
            text-decoration: underline double black;
            font-size: 24px;
            transform: translateX(10px);
            }
    }
    .Imagen-Acordion{
        height: 450px;
        width: 450px;
    }
        /* HTML PROXIMOS LANZAMIENTOS */
        .proximos_lanzamientos_titulo{
            font-size: 62px;
        } 
    
        @keyframes contactenos_prox {
            25%{
                color: mediumblue;
                font-size: 62px;
            }
            50%{
                color: red;
                font-size: 62px;
            }
            75%{
                color: yellow;
                font-size: 62px;
            }  
        }
    
}
