@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;600;900&family=Righteous&display=swap');

$Fontprincipal: 'Righteous', cursive;

$ColorFontPrincipal: black;
$ColorFontSecundario: white;
$ColorBotonesPrincipal: green;
$ColorLinkTrailer: darkblue;

$ColorBoxModel: dimgray;

$ColorRegistro: mediumslateblue;

$FondoPaginasSecundaria: url(../Multimedia/Fondos/rick-rothenberg-LlAI-kQJs64-unsplash.jpg);

// Aplicando @Mixin en Consolas y Juegos
@mixin flex ($display, $wrap, $justify){
    display: $display;
    flex-wrap: $wrap;
    justify-content: $justify;
}

/*Aplicando @extend al logo de pagina secundaria*/
%logo {
    width: 80px;
    margin: 10px;
    border-radius: 35%;
}

// Aplicando Maps a pagina principal
$fondo: (
    inicio: darkslategray,
    Acordion: grey,
);

// Aplicando Map-get al footer
$iconos:(
    tamano: 80px,
    distancia: 20px,
    animacion: 95px,
)

